.bannerHome{
 background-image: url('../../public//images/banner-home.jpg');
background-repeat: no-repeat;
/* background-size:125rem ; */
background-position: center;
 width: 100%;
height: 45rem;
/* background-color: aqua; */
    position: relative;
background-size: cover;
}

.banner__container{
    /* background-color: rgba(0, 0, 255, 0.378); */
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner__content{
    color: #fff;
    font-family: "Playfair Display",serif;
    font-size: 30px !important;
    font-weight: 700;
    font-style: italic;
}
.banner__content h6{
    color: #fff;
    font-size: 16px !important;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.banner__content .banner__title__color{
   color: #ffb606;
}
.banner__content h2{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
.bannerHome{
 background-image: url('../../public//images/banner-home.jpg');
background-repeat: no-repeat;
background-size: cover;

 width: 100%;
height: 37rem;
/* background-color: aqua; */
    position: relative;

}

.banner__container{
    /* background-color: rgba(0, 0, 255, 0.378); */
    width: 90%;
    height: 88%;
    position: absolute;
    display: flex;
    justify-content:flex-end;
    align-items: end;
    
}
.banner__content{
    color: #fff;
    font-family: "Playfair Display",serif;
    font-size: 25px !important;
    font-weight: 700;
    font-style: italic;
}
}

/* For medium devices */
@media screen and (max-width: 768px) {
.bannerHome{
 background-image: url('../../public//images/banner-home.jpg');
background-repeat: no-repeat;
background-size: cover;

 width: 100%;
height: 35rem;
/* background-color: aqua; */
    position: relative;

}
    .banner__content{
    color: #fff;
    font-family: "Playfair Display",serif;
    font-size: 20px !important;
    font-weight: 700;
    font-style: italic;
}
}

@media screen and (max-width: 576px) {
.bannerHome{
 background-image: url('../../public//images/banner-home.jpg');
background-repeat: no-repeat;
background-size: cover;

 width: 100%;
height: 25rem;
/* background-color: aqua; */
    position: relative;

}
.banner__container{
    /* background-color: rgba(0, 0, 255, 0.378); */
    width: 90%;
     padding:0px;
 margin-top: 5rem;
}
    .banner__content{
    color: #fff;
    font-family: "Playfair Display",serif;
    font-size: 17px !important;
    font-weight: 900;
    font-style: italic;
 /* background-color: #ffb606; */
 width: 35%;
 height: 100%;

}
}

/* For small devices */
@media screen and (max-width: 365px) {
.bannerHome{
 background-image: url('../../public//images/banner-home.jpg');
background-repeat: no-repeat;
background-size: cover;

 width: 100%;
height: 22rem;
/* background-color: aqua; */
    position: relative;

}
.banner__container{
    /* background-color: rgba(10, 10, 72, 0.736); */
    width: 100%;
    height: 100%;
     padding:0px;
 margin-top: 0rem;
 margin-right: 30px;
}
    .banner__content{
        text-align: center;
    color: #fff;
    font-family: "Playfair Display",serif;
    font-size: 15px !important;
    font-weight: 900;
    font-style: italic;
 /* background-color: #ffb606; */
 width: 100%;
 height: 78%;

}

.banner__content h6{
    color: #fff;
    font-size: 10px !important;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
}




